.approve-example-container {
}
.node-panel {
  background: #fff;
  width: 240px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  z-index: 101;
}
.approve-node {
  display: block;
  margin: 5px auto;
  position: relative;
  color: #fff;
  height: 40px;
  width: 160px;
}

.approve-node .node-shape {
  border: solid 1px #666;
}

.approve-node.node-polygon {
  height: 90px;
}
.approve-node.node-apply,
.approve-node.node-ellipse,
.approve-node.node-finish {
  height: 50px;
}
.node-panel {
  padding: 10px;
}
.node-panel .node-box {
  border: solid 1px #D3E6F4;
  background: #F6FAFD;
  margin-bottom: 10px;
  padding: 10px;
}
.node-polygon .node-shape {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
}
.node-polygon .node-shape .node-label {
  margin-left: -14px;
  margin-top: -14px;
  width: 30px;
}


.node-label {
  position: absolute;
  font-size: 12px;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: #333;
}
.node-polygon .node-label {
  transform: rotate(-45deg);
}
.node-circle .node-label {
}
s .node-jugement .node-label {
  margin-top: 15px;
}
.property-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  margin: 0;
  background-color: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  z-index: 101;
  box-shadow: 0 0 10px 1px rgb(228, 224, 219);
}
.property-panel-footer {
  width: 100%;
  text-align: center;
}
.property-panel-footer .property-panel-footer-hide {
  width: 200px;
}
.flow-center .lf-control {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 300px;
  float: right;
  border-bottom: solid 1px #ccc;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 5px;
}
.form-property {
  width: 30%;
}
.hover-panel {
  position: fixed;
}

li {
  list-style: none;
}
/* 属性框 */
.params-box {
  position: absolute;
  width: 260px;
  height: 100%;
  overflow: auto;
  top: 0px;
  right: 0px;
  z-index: 99;
  background-color: white;
  padding: 0 10px;
}
.save-flow {
  position: absolute;
  top: 5px;
  right: 310px;
  z-index: 101;
}
.db-item {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: solid 1px #ebebeb;
}

.lf-node-content .lf-element-text {
  color: #000;
}
